@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src: local('Georgia'), local('Georgia-Regular'),
       url('../fonts/georgia.ttf') format('ttf');
}
body {
  font-family: 'Georgia';
}
