html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #F8F8FF;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
}

code {
  background-color: rgba(0, 0, 0, 0.02);
}

img {
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.header {
  padding: 0px 0;
  position: fixed;
  width: 100%;
  background: #f5f5f5;
  border-bottom: 1px solid #eaeaea;
  z-index: 1;
}

.nav {
  width: 90%;
  min-width: 300px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 0px;
  text-align: right;
}

.nav-logo {
  padding-top: 0.5%;
  z-index: 1;
  position: relative;
  float: left;
  transition: transform 150ms ease-out;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-logo img {
  height: 10%;
  display: block;
  max-height: 100px;
  border-radius: 50%;
  margin-right: 5px;
}

/* Menu for mobile users */
.hamb{
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background: #000000;
  display: block;
  height: 2px;
  position: relative;
  width: 32px;
  margin-top: 5px;
}

.hamb-line::before,
.hamb-line::after{
  background: #000000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 8px;
}
.hamb-line::after{
  top: -8px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ .menu{
  width: 100%;
  display: inline-block;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.menu {
  margin-bottom: 0;
  padding: 0;
  font-size: 24px;
  list-style: none;
  position: relative;
  display: none;
  text-align: left;
}

.menu a {
  width: 100%;
  float: right;
  padding: 10px;
  font-size: 18px;
  background: #f5f5f5;
  cursor: pointer;
  text-decoration: none;
  color: #111;
}

.menu a:first-child {
  border-top: solid;
  border-width: 1px;
}

.submenu {
  padding-left: 5%;
  width: 95%;
  white-space: nowrap;
  background: #f5f5f5;
  display: none;
  list-style: none;
}

.dropdown:hover > .submenu {
  display: inline-block;
}

.dropdown > a:after {
  font-size: 16px;
  content:  ' ▼';
}

.content {
  width: 90%;
  max-width: 1500px;
  margin: 150px auto 10px;
  line-height: 1.7;
  color: #F8F8FF;
}

.article-title {
  text-align: center;
  font-size: 32px;
  color: #F8F8FF;
  margin: 0;
  line-height: 1.3;
}

.article hr {
  width: 90%;
  margin-top: 25px;
  margin-bottom: 20px;
  height: 1px;
  overflow: hidden;
  border: none;
  background: #e5e5e5;
}

.article-description {
  margin-top: 0px;
  margin-bottom: 30px;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 18px;
  max-width: 80%;
  left: 10%;
  color: #fce1ae;
}

.article-date {
  color: #F8F8FF;
}

.article-duration {
  margin-top: 10px;
  float: right;
  font-size: 10px;
  padding: 1px 5px;
  font-weight: bold;
  border-radius: 3px;
  background: #bbb;
  color: #F8F8FF
}

.article-content {
  text-align: justify;
  text-justify: inter-word;
  font-size: 14px;
}

.article-content p {
  margin: 0px 0 20px;
}

.article-content ol {
  margin-top: -15px;
  margin-bottom: 5px;
}

.article-content a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #fcce79;
  background: transparent;
  transition: border-bottom 150ms ease;
}

.article-content a:hover,
.article-content a:focus {
  border-bottom: 3px solid #fcce79;
}

.article-content hr {
  width: 150px;
  margin: 50px auto;
  height: 1px;
  overflow: hidden;
  border: none;
  background: #e5e5e5;
}

.article-content h1,
h2,
h3,
h4,
h5,
h6 {
  color: #F8F8FF;
  margin: 15px 0 20px;
  padding: 0;
}

.highlight {
  border-radius: 3px;
  position: relative;
  margin: 40px 0;
  font-size: 18px;
}

.highlight pre {
  padding: 10px;
}

.archive {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.3em;
  text-align: center;
  color: #F8F8FF;
}

.archive-title {
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.archive-item {
  margin: 0px 0 10px;
  padding: 0;
}

.archive-item-date {
  color: #ccc;
  font-size: 12px;
  padding: 2px 0;
  margin-top: 5px;
  display: block;
}

.archive-item-link {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #F8F8FF;
  padding: 0;
  border-bottom: 1px solid #ddd;
}

.archive-item-link:hover {
  border-bottom-color: #222;
}

.footer {
  padding: 25px 0;
  text-align: center;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ccc;
  font-size: 14px;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-links a {
  color: #888;
  text-decoration: none;
  transition: color 150ms ease;
  margin: 0 15px;
}

.footer-links a:hover,
.footer-links a:focus {
  color: #222;
}

.footer-links li::before {
  content: '/';
  position: relative;
  left: -2px;
}

.footer-links li:first-child::before {
  display: none;
}
.footer-links-kudos img {
  position: relative;
  top: 6px;
  margin-left: 2px;
}

@media (min-width: 1050px) {
  .header {
    padding: 0px 0;
  }
  
  .nav {
    overflow: visible;
  }

  .nav-logo {
    margin-top: 0px;
  }
  
  .hamb{
    display: none;
  }
  
  .side-menu{
    display: none;
  }

  .menu {
    text-align: right;
    width: auto;
    margin: 0;
    padding: 0;
    font-size: 24px;
    list-style: none;
    position: relative;
    display: block;
  }
  
  .menu li {
    margin: 0px;
    padding: 0;
    display: block;
  }
  
  .menu a:first-child {
    margin-left: 0%;
  }
  
  .menu a {
    width: auto;
    margin-bottom: -1px;
    float: right;
    padding: 44px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 18px;
    background: #f5f5f5;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #111;
    border: solid;
    border-width: 1px;
  }
  
  .menu a:hover {
    color: #55ffcc;
  }
  
  .submenu {
    padding-left: 41px;
    width: inherit;
    white-space: nowrap;
    background: #f5f5f5;
    display: none;
    position: absolute;
    float: right;
    list-style: none;
    margin-top: 111px;
  }
  
  .submenu li {
    margin: 0;
    min-width: 100%;
  }
  
  .submenu a {
    width: auto;
    padding: 20px;
    min-width: 100%;
  }

  .content {
    line-height: 1.8;
    width: 90%;
    max-width: 1500px;
    margin: 100px auto 10px;
    padding: 70px;
    line-height: 1.7;
    color: #F8F8FF;
  }

  .article-title {
    text-align: center;
    font-size: 56px;
    color: #F8F8FF;
    margin: 0;
    line-height: 1.3;
  }
  
  .article hr {
    width: 90%;
    margin-top: 25px;
    margin-bottom: 75px;
    height: 1px;
    overflow: hidden;
    border: none;
    background: #e5e5e5;
  }
  
  .article-description {
    margin-top: -50px;
    margin-bottom: 75px;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 40px;
    max-width: 80%;
    left: 10%;
    color: #fce1ae;
  }

  .article-date {
    color: #F8F8FF;
  }
  
  .article-duration {
    margin-top: 12px;
    float: right;
    font-size: 12px;
    padding: 1px 5px;
    font-weight: bold;
    border-radius: 3px;
    background: #bbb;
    color: #F8F8FF
  }
  
  .article-content {
    text-align: justify;
    text-justify: inter-word;
    font-size: 24px;
  }
  
  .article-content p {
    margin: 15px 0 45px;
  }
  
  .article-content ol {
    margin-top: -45px;
    margin-bottom: 15px;
  }
  
  .article-content a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #fcce79;
    background: transparent;
    transition: border-bottom 150ms ease;
  }

  .article-content a:hover,
  .article-content a:focus {
    border-bottom: 3px solid #fcce79;
  }
  
  .article-content hr {
    width: 150px;
    margin: 50px auto;
    height: 1px;
    overflow: hidden;
    border: none;
    background: #e5e5e5;
  }
  
  .article-content h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #F8F8FF;
    margin: 15px 0 45px;
    padding: 0;
  }

  .highlight {
    border-radius: 3px;
    position: relative;
    font-size: 16px;
    margin: 40px -20px;
  }
  
  .archive {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.3em;
    text-align: left;
    color: #F8F8FF;
  }
  
  .archive-title {
    font-size: 38px;
    margin-top: 60px;
  }
  
  .archive-item {
    margin: 5px 0 15px;
    padding: 0;
  }
  
  .archive-item-date {
    color: #ccc;
    font-size: 19px;
    padding: 5px 0;
    margin-top: 5px;
    display: block;
    text-align: right;
    float: right;
  }
  
  .archive-item-link {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #F8F8FF;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    text-overflow: ellipsis;
    max-width: calc(100% - 120px);
    white-space: nowrap;
    overflow: hidden;
  }

  .footer-links {
    font-size: inherit;
  }
}

@media print {
  .header, .footer {
    display: none;
  }
  .article-content a {
    box-shadow: none;
  }
}

body{
   background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAMUlEQVQIW2OMiYn5z4AExAXfMjAiC4IEXr4XRgjCBECawCphAnCVxbme/0FaYAAkAQAB9hqPhxua7wAAAABJRU5ErkJggg==
) repeat;
}












