<nav class="nav">
  <!-- website logo -->
  <a href="{{ "/" | relURL }}" class="nav-logo">
    <img src="{{ print "images/" .Site.Params.logo.url | relURL }}"
         alt="{{ .Site.Params.logo.alt }}">
  </a>
  <!-- bcm opthalomology logo -->
  <a href="{{ .Site.Params.logo2.urlex }}" class="nav-logo">
    <img src="{{ print "images/" .Site.Params.logo2.url | relURL }}"
         alt="{{ .Site.Params.logo2.alt }}">
  </a>

  <!-- Hamburger icon -->
  <input class="side-menu" type="checkbox" id="side-menu"/>
  <label class="hamb" for="side-menu">
    <span class="hamb-line"></span>
  </label>
  <!-- Menu -->
  <ul class="menu">
    {{- $currentPage := . }}
    {{ range .Site.Menus.main.Reverse }}
        <li class="{{ if .HasChildren }}dropdown{{ end }}"><a href="{{ .URL }}">{{ .Name }}</a>
        {{ if .HasChildren }}
          <ul class="submenu">
            {{ range .Children.Reverse }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}          
          </ul>
        {{ end }}
        </li>
    {{ end }}
  </ul>
</nav>

